// Variables
$primary-color-orange: #e38826;
$primary-color-cyan: #006970;
$primary-color-dark-cyan: #004241;
$p-color: hsla(0, 0%, 100%, 0.75);
$light-gray: hsl(0, 0%, 95%);

// main style 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    background: $light-gray;
    line-height: 1.6;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    color: $p-color;
    font-weight: 400;
}

h2 {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 3rem;
    padding: 2rem 0;
    text-transform: uppercase;
    color: $light-gray;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

// utility 
.container {
    max-width: 1000px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background:$light-gray;
    padding: 0.8rem 2.3rem;
    border-radius: 100px;
    overflow: hidden;
    border: 2px solid $light-gray;
    transition: background 300ms ease-in, color 300ms ease-in ;

    &:hover {
        background: transparent;
        color: $light-gray !important;
    }
}

// Style Card 
.column-card {
    max-width: 1100px;
    background: red;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
    border-radius: 10px;

    &-item {
        padding: 3rem 3rem;
        flex: 1 1 33%;
        
        img {
            width: 75px;
        }

        p {
            padding-right: 1rem;
            padding-bottom: 6rem;
        }

        &:nth-of-type(1) {
            background: $primary-color-orange;

            .btn {
                color: $primary-color-orange;
            }
        }
        &:nth-of-type(2) {
            background: $primary-color-cyan;

            .btn {
                color: $primary-color-cyan;
            }
        }
        &:nth-of-type(3) {
            background: $primary-color-dark-cyan;

            .btn {
                color: $primary-color-dark-cyan;
            }
        }
    }
}

@media (max-width: 500px) {
    .container {
        margin: 3rem 1.5rem;
    }

    .column-card {
    flex-direction: column;

        &-item {
            p {
                padding-bottom: 2rem;
            }
        }
    }
}